@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=RocknRoll+One&display=swap');

:root {
    --color-glass: rgba(29, 29, 29, 0.856);
    --color-text: white;
    --color-contrast: black;
    --color-back: antiquewhite;
    --color-border: gray;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box; 
}
h1 {
    font-size: 40px;
}
header {
    background-color: var(--color-back);
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px  solid var(--color-contrast);

    width: 100%;
}
/*BORRAR*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 150px;
}
nav ul li a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

/**/
body {
    background-image: url('/imgs/homeback.jpg');
    background-size: cover;
    background-position: center; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    font-weight: 600;

    color: var(--color-contrast);
    background-color: var(--color-back);
    border: 2px solid var(--color-contrast);
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
button:hover {
    transform: scale(1.1);
}

h2 {
    font-weight: 600;
    font-size: 50px;
}
img {
    width: 400px;
    height: auto;
}
p {
    font-size: 25px;
    font-weight: 500;
}
hr {
    background-color: var(--color-back);
    border: 1px solid var(--color-back);
    margin: 15px;
    width: 90%;
}
/**/
.card {
    padding: 5px 25px;
    height: fit-content;
    width: 80%;

    color: var(--color-text);
    background-color: var(--color-glass);
    min-width: 60%;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;

    border: 2px solid var(--color-border);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.card div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu-bar {
    width: 150px;
}

.product-card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: var(--color-text);
    border-radius: 5px;
    margin: 20px;
}
.product-card:hover {
    transform: scale(0.98);
}
.product-card img {
    width: 100%;
    height: auto;
}
.product-card h3, p, b {
    color: var(--color-contrast);
    width: 100%;
    padding: 0px 10px;
}
.product-card b {
    font-weight: 500;
}
.product-card p {
    font-weight: 700;
    color: var();
}
.product-card.soldout {
    opacity: 0.5; 
    pointer-events: none;
    position: relative;
}

.product-card.soldout::after {
    content: "Sold Out"; 
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}