<div class="card">
    <div>
        <h2>Find your style</h2>
        <hr>
        <p style="color: white;">
            At our store, we offer a unique fusion of 
            style and functionality. Specializing in 
            streetwear and gym apparel, our goal is to 
            provide you with clothing that not only looks 
            great but also feels amazing. Explore our 
            collection and discover bold designs, exceptional 
            comfort, and high-quality materials, perfect 
            for supporting your active lifestyle. Whether 
            you're looking for an urban look for everyday 
            wear or gear for your workouts, KangooG has
            what you need to stand out.
        </p>
        <button onclick="window.location.href='/products'">SHOP NOW</button>
    </div>
    <img class="card-img" src="./imgs/products/clothe1.webp" alt="">
</div>