<div class="home">
    <div class="sec1">
        <h1>Ready for a routine ?</h1>
    </div>
    <div class="sec2">
        <div class="sponsor collection"></div>
        <div class="sponsor new"></div>
        <div class="sponsor trending"></div>
    </div>
</div>