<div class="product-info">
    <div>
        <img src="/imgs/products/clothe2.webp" alt="">
    </div>
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <h3>$ {{this.price}}</h3>
        <button class="add-to-cart">Add to cart</button>
    </div>
</div>