<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>KangooG</title>
</head>
<body>
    <header>
        <p>==</p>
        <h1>KANGOO G</h1>
        <nav>
            <ul>
                <li><a href="">i</a></li>
                <li><a href="">Q</a></li>
                <li><a href="">C</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>